.about__section__title {
    position: relative;
    margin-bottom: 10px;
}

.about__title__header {
    padding-bottom: 5px;
}

.about__title__header h5 {
    color: #878494;
    font-family: "BPG Mrgvlovani Caps", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 5px;
    margin-top: 0;
    position: relative;
    font-size: 13px;
}

.about__title__container {
    font-size: 26px;
    line-height: 1.35;
    color: #072640;
    font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.about__title__div {
    width: 10px;
    height: 10px;
    background: rgb(242 152 152);
    position: relative;
    margin: 15px 0 10px 15px;
    border-radius: 50%;
}

.about__title__div::before {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    background: rgb(99 82 163);
    position: absolute;
    right: -15px;
    top: 0;
    z-index: 1;
    transition: all .3s ease 0s;
}

.about__title__div span {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4c96d7;
    margin: 0 0 10px 30px;
    border-radius: 50%;
}

.about__title__div::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #083b66;
    position: absolute;
    left: -15px;
    top: 0;
    transition: all .3s ease 0s;
}

.about__title__p {
    margin: 0 0 15px;
}
