@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani-caps/css/bpg-mrgvlovani-caps.min.css");

.helvetica\:bold {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.helvetica\:medium {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.helvetica\:regular {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}
