@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani-caps/css/bpg-mrgvlovani-caps.min.css");

.position\:relative {
  position: relative;
}

.helvetica\:bold {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.helvetica\:medium {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.helvetica\:regular {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

@media all and (max-width: 500px) {
  .navbar__image__responsive {
    display: none;
  }
}

.color\:gray {
  color: #464646;
}

.drag-area {
  border: 2px dashed gray;
  height: 500px;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active__image {
  border: 2px solid gray;
}
.drag-area .icon {
  font-size: 100px;
  color: gray;
}
.drag-area header {
  font-size: 30px;
  font-weight: 500;
  color: gray;
}
.drag-area span {
  font-size: 25px;
  font-weight: 500;
  color: gray;
  margin: 10px 0 15px 0;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: lightgray;
  color: #252526;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  z-index: 9999;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#loading__bg {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.append__body {
  overflow: hidden;
}

@media all and (max-width: 575px) {
  .header__respo {
    top: 90px !important;
  }
}