@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani-caps/css/bpg-mrgvlovani-caps.min.css");

.position\:relative {
  position: relative;
}

.helvetica\:bold {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.helvetica\:medium {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

.helvetica\:regular {
  font-family: "BPG Mrgvlovani Caps", sans-serif;
}

@media all and (max-width: 500px) {
  .navbar__image__responsive {
    display: none;
  }
}
